@import url('https://fonts.googleapis.com/css?family=Martel');

div#phoneVerification {
	font-family: 'Raleway', sans-serif;
	max-width: 410px;
	display: inline-block;
	margin: 10px;
	padding: 10px;
	border: 1px solid #ccc;
}

div#phoneVerification h1{
	font-size: 24px;
	text-align: center;
	display: inline-block;
	width: 100%;
	margin: 10px 0 0;
	font-family: 'Martel', sans-serif;
	font-weight: normal;
}

div#phoneVerification h1:after {
	content: "";
	display: block;
	border-bottom: 2px solid #001022;
	width: 50px;
	margin: 0 auto;
	padding-top: 18px;
}

div#phoneVerification > p {
	font-style: italic;
	text-align: center;
	margin-bottom: 40px;
}

div#phoneVerification form > ul {
	list-style: none;
	padding: 0;
}

div#phoneVerification form > ul > li {
	float: left;
	padding: 14px;
	border: 1px solid #ccc;
	position: relative;
	margin: 0 10px;
}

div#phoneVerification form > ul > li > span label {
	position: absolute;
	top: -10px;
	background: #fff;
	padding: 0 10px;
	left: 20px;
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
}

div#phoneVerification form  input#country_code ,
div#phoneVerification form > ul > li > input {
	border: 0;
}

div#phoneVerification form  input:focus {
	outline: dotted;
	outline-width: 1px; 
}

div#phoneVerification form  input#country_code {
	width: 115px;
}

div#phoneVerification form li.token {
	width: calc(100% - 20px);
}

div#phoneVerification form > ul > li > input:focus {
	border: 1px dash #000;
}

div#phoneVerification input[type=submit] {
	text-transform: uppercase;
	font-weight: 700;
	float: left;
	background: #ffcb00;
	margin: 10px;
	clear: none;
	color: #001022;
	width: calc(100% - 20px);
	border: 0;
	border-radius: 0;
	padding: 12px 5px;
}